@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@600&family=Open+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
}


/* Top Navbar Styling */

.top-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    .logo {
        order: 2;
        margin: 0;
    }
    nav {
        align-items: center;
        display: flex;
        height: 50px;
        order: 1;
        .nav-links {
            align-items: center;
            display: flex;
            margin: 0;
            height: inherit;
            text-align: center;
            li {
                display: inline-block;
                list-style: none;
                overflow: hidden;
                padding: 0px 20px;
                vertical-align: middle;
                a {
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    color: white;
                    display: inline-block;
                    font-family: 'Open Sans', sans-serif;
                    font-size: .75em;
                    font-weight: 400;
                    height: 20px;
                    letter-spacing: .075em;
                    text-decoration: none;
                    text-shadow: none;
                    text-transform: uppercase;
                    transform: perspective(1px) translateZ(0);
                }
                a:before {
                    bottom: 0;
                    background: #0078f2;
                    content: "";
                    height: 4px;
                    left: 0;
                    position: absolute;
                    right: 0;
                    transform: translateY(4px);
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                    z-index: -1;
                }
                a:hover:before {
                    transform: translateY(0);
                }
            }
            li:nth-child(1) {
                padding: 0 20px;
            }
        }
    }
    .accountInfo {
        align-items: center;
        display: flex;
        height: 50px;
        order: 2;
        nav {
            align-items: center;
            display: flex;
            height: inherit;
            margin: 0;
            order: 1;
            padding-inline-end: 40px;
            text-align: center;
        }
        a {
            display: flex;
            margin: 0;
            order: 2;
            height: inherit;
            text-decoration: none;
            .active-user-wrapper {
                align-items: center;
                background-color: #0078f2;
                display: flex;
                margin: 0;
                height: inherit;
                text-align: center;
                order: 2
            }
        }
        #activeUser {
            align-items: center;
            display: flex;
            margin: 0;
            height: inherit;
            padding-inline-start: 40px;
            padding-inline-end: 40px;
            text-align: center;
            p {
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                color: white;
                display: inline-block;
                font-family: 'Open Sans', sans-serif;
                font-size: .75em;
                font-weight: 400;
                height: 20px;
                letter-spacing: .075em;
                text-decoration: none;
                text-shadow: none;
                text-transform: uppercase;
                transform: perspective(1px) translateZ(0);
            }
        }
    }
}


/* Games Page */

.page-wrapper {
    height: 100vh;
    .games-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-auto-rows: 450px;
        grid-gap: 10px;
        padding-inline-start: 10%;
        padding-inline-end: 10%;
        .game-container {
            padding: 20px;
            .game-img {
                height: 300px;
                width: 250px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}


/* Buy GameStockGraphPage */

.game-stock-wrapper {
    height: 300px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 35%;
    .game-stock-container {
        height: inherit;
        h6,
        p,
        a {
            color: #fff;
            font-family: 'Commissioner', sans-serif;
            text-decoration: none;
            text-shadow: none;
            text-transform: uppercase;
        }
        button {
            background-color: #2a2a2a;
            border: 0;
            color: #fff;
            display: block;
            font-family: 'Commissioner', sans-serif;
            left: 50%;
            letter-spacing: 1px;
            margin: auto;
            text-transform: uppercase;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 12px;
            position: absolute;
            width: 40%;
        }
        button:hover {
            box-shadow: inset 0 0 0 2px #fff, 0 0 1px rgba(0, 0, 0, 0);
            cursor: pointer;
        }
    }
}


/* Account Wrapper */

.account-wrapper,
.account,
.funds-wrapper {
    height: 300px;
    margin: auto;
    padding-top: 2%;
    position: relative;
    text-align: center;
    width: 50%;
    .account-container,
    .funds-form {
        height: inherit;
        h1,
        h5,
        h6,
        p,
        a {
            color: #fff;
            font-family: 'Commissioner', sans-serif;
            text-decoration: none;
            text-shadow: none;
            text-transform: uppercase;
        }
        p {
            font-size: 12px;
        }
    }
    button {
        background-color: #2a2a2a;
        border: 0;
        color: #fff;
        display: block;
        font-family: 'Commissioner', sans-serif;
        left: 50%;
        letter-spacing: 1px;
        margin: auto;
        text-transform: uppercase;
        top: 100%;
        transform: translate(-50%, -50%);
        padding: 12px;
        position: absolute;
        width: 20%;
    }
    button:hover {
        box-shadow: inset 0 0 0 2px #fff, 0 0 1px rgba(0, 0, 0, 0);
        cursor: pointer;
    }
}

.funds-wrapper {
    .funds-form {
        button {
            top: 55%;
        }
    }
}


/* Login Page */

.login-wrapper,
.register-wrapper {
    .login-form,
    .register-form {
        background-color: #202020;
        height: 500px;
        margin: auto;
        position: relative;
        text-align: center;
        width: 35%;
        h1,
        p,
        a {
            color: #fff;
            font-family: 'Commissioner', sans-serif;
            text-decoration: none;
            text-shadow: none;
            text-transform: uppercase;
        }
        h1 {
            padding-top: 10%;
        }
        p {
            font-size: .75em;
            font-weight: 500;
        }
        .login-form-input,
        .register-form-input {
            margin: auto;
            width: 50%;
            input {
                font-family: 'Commissioner', sans-serif;
                font-size: 12px;
                height: 20px;
                padding: 5px;
                width: 100%;
            }
        }
        button {
            background-color: #2a2a2a;
            border: 0;
            color: #fff;
            display: block;
            font-family: 'Commissioner', sans-serif;
            left: 50%;
            letter-spacing: 1px;
            margin: auto;
            text-transform: uppercase;
            top: 90%;
            transform: translate(-50%, -50%);
            padding: 12px;
            position: absolute;
            width: 40%;
        }
        button:hover {
            box-shadow: inset 0 0 0 2px #fff, 0 0 1px rgba(0, 0, 0, 0);
        }
    }
}
